/*import local font*/

@import '@/assets/fonts/aspekta/font-face.css';

/*set colors*/

:root{
  --mainBlack: #010306;
  --mainWhite: #FAFAFA;
  --gray100: #BEC7CE;
  --gray200: #A2AAB1;
  --gray300: #868E95;
  --gray400: #6B737A;
  --gray500: #52595F;
  --gray600: #3A4146;
  --gray700: #23292F;
  --gray800: #0E1419;
  --blue100: #0198FF;
  --blue200: #007FE4;
  --blue300: #0067CA;
}

body {
  background-color: var(--mainBlack); /* Define a cor de fundo como mainBlack */
  color: var(--mainWhite); /* Define a cor do texto como mainWhite para contraste */
  font-family: Aspekta, sans-serif; /* Garante que a fonte seja consistente */
}

/*css reset*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

/*spacing and sizing*/

.px-container{
  padding-left: clamp(1rem, 5vw, 3rem);
  padding-right: clamp(1rem, 5vw, 3rem);
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.container{
  width: 100%;
}

/*link hover animation*/

.hover-underline-animation{
  display: inline-block;
  position: relative;
  color: var(--mainWhite);
  font-family: Aspekta350;
  font-size: 1.25rem;
}

.hover-underline-animation::after{
  content: '';
  position: absolute;
  border-bottom: 1.5px solid var(--mainWhite);
  width: 100%;
  transform: scaleX(0);
  bottom: 0;
  left: 0;
  background-color: var(--mainWhite);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
  transition-delay: 0.2s;
}

.hover-underline-animation:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
  transition-delay: 0.2s;
}


.hover-underline-animation-gray{
  display: inline-block;
  position: relative;
  color: var(--gray200);
  font-family: Aspekta400;
  font-size: 1rem;
  width: fit-content;
}

.hover-underline-animation-gray::after{
  content: '';
  position: absolute;
  border-bottom: 1.5px solid var(--gray200);
  width: 100%;
  transform: scaleX(0);
  bottom: 0;
  left: 0;
  background-color: var(--gray200);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
  transition-delay: 0.2s;
}

.hover-underline-animation-gray:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
  transition-delay: 0.2s;
}

/*buttons*/

.btn-primary{
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: var(--mainWhite);
  border: 1px solid var(--mainWhite);
  color: var(--mainBlack);
  font-family: Aspekta500;
  font-size: 1.25rem;
  transition: 150ms ease-out;
  cursor: pointer;
}

.btn-primary:hover{
  background: var(--mainBlack);
  border: 1px solid var(--gray400);
  color: var(--mainWhite);
}

.btn-secondary{
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid var(--gray400);
  color: var(--mainWhite);
  background: none;
  font-family: Aspekta500;
  font-size: 1.25rem;
  transition: 150ms ease-out;
  cursor: pointer;
}

.btn-secondary:hover{
  background: var(--gray700);
}

/*form inputs*/

.form-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--gray400);
  background: transparent;
  color: var(--gray400);
  font-family: Aspekta400;
  font-size: 1rem;
  outline: none;
  transition: 300ms ease-out;
  padding-bottom: 12px;
}

.form-input:hover{
  border-bottom: 1px solid var(--gray100); 
}

.form-input:focus{
  border-bottom: 1px solid var(--mainWhite); 
}

/*text*/

.outline-title{
  font-size: 172px;
  font-family: Aspekta600;
  color: transparent;
  -webkit-text-stroke: 3px var(--gray200);
  text-align: center;
}

